## Loops and Functions Practice

In this notebook, you'll get some additional practice working with loops and functions for importing, cleaning, and visualizing data.

### Warmup Questions
## Loops

Recall that a loop can be used whenever you are repeating the same operation multiple times.

For example,

In [1]:
print('a')
print('b')
print('c')
print('d')

a
b
c
d

can be rewritten to accomplish the same outcome. We just need to recognize that the repeated code is the `print` function and the part that changes is the argument value.

In [2]:
alpha = ['a','b','c','d']

for element in alpha:
    print(element)

a
b
c
d

In [3]:
for letter in ['a','b','c','d']:
    print(letter)

a
b
c
d

Recall also that `range` can be helpful when writing for loops if you want to iterate through a set of consecutive numbers.

In [4]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [7]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

**Your Turn:** Write a for loop that prints out the squares of the numbers 1 through 10.

In [8]:
# Your Code Here
for number in range (1,11):
    print(number ** 2)

1
4
9
16
25
36
49
64
81
100

Now, modify your code so that it prints out the squares of the even integers between 1 and 10. 

**Hint:** You can do this either by using conditional logic (if statements) or you might find a different way if you check out the parameters of the range function (https://www.w3schools.com/python/ref_func_range.asp).

In [9]:
# Your Code Here - my demo

list = [2]

for var in list:
    square = var ** 2
    print(square)
    if var < 10:
        list.append(var+2)
    else: break

4
16
36
64
100

In [10]:
for number in range(2,11,2):
    print(number**2)

4
16
36
64
100

### The Accumulator Pattern

Often when working with loops, you will want to capture the results of each iteration. This is usually done by either using a numeric accumulator or a container like a list to hold the intermediate results.

For example, if we wanted to sum the first 100 positive integers we could do this using the accumulator pattern.

In [11]:
total_sum = 0
for number in range(1, 101):
    total_sum += number
    
print(f'The total sum is {total_sum}')

The total sum is 5050

Or, we might want to do a calculation and store the results:

In [12]:
squares = []
for number in range(1, 10):
    squares.append(number**2)

In [13]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81]

**Your Turn:** Find the sum of the squares of all even integers between 2 and 1000.

In [14]:
# Your Code:

sum = 0
for number in range (2,1001,2):
    sum = number**2
print(sum)

1000000

## Functions

When you find yourself repeating the same or very similar code, it could signal that you need a for loop or that you should rewrite your code as a function that can be reused.

Some advantages of using functions are that you don't have to worry about making copy/paste errors and that if you realize that you need to change the logic of your code, you need only update it in one location.

Components of most functions:
* `def` followed by the name of the function
* A set of parentheses and the list of function parameters.
* A body that defines what to do with the inputs.
* A return statement that indicates what the function outputs.

For example, if we want to calculate the square of a number, we could write a very basic function to accomplish this:

In [15]:
def square_number(x):
    return x**2

Once our function is defined, we can call it and pass in inputs:

In [16]:
square_number(10)

100

In [17]:
square_number(-4)

16

Our function can also include more complex logic and multiple return statements:

In [18]:
def absolute_value(x):
    if x >= 0:
        return x
    else:
        return -x

In [19]:
absolute_value(2)

2

In [20]:
absolute_value(-6)

6

**Your Turn:** Write a function named `collatz` that will take as input a number. If that number is even, your function should divide it by two and return the result. If the number is odd, it should triple the number and add one and then return the result.

**Hint:** If you want to check if a number is even, you can use the modulus operator. See, for example, https://discuss.codecademy.com/t/how-can-i-check-if-a-number-is-odd/339354.

In [21]:
# Your Code Here
def collatz(x):
    if x%2 == 0:
        print(x/2)
    else: print((x*3)+1)

In [22]:
collatz(2)

1.0

In [23]:
collatz(13)

40

### Intermediate Questions

For these questions, you'll be working with data from the Lahman baseball database. In order to get this data into Python, we are going to write a query and execute it using the sqlalchemy library.

In [24]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine, text

In [25]:
database_name = 'lahman-baseball'    # Fill this in with your lahman database name
connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"
engine = create_engine(connection_string)

In [26]:
query = """
SELECT *
FROM teams
"""

teams = pd.read_sql(text(query), con = engine)
teams.head()

,yearid,lgid,teamid,franchid,divid,rank,g,ghome,w,l,...,dp,fp,name,park,attendance,bpf,ppf,teamidbr,teamidlahman45,teamidretro
0,1871,NA,BS1,BNA,None,3,31,NaN,20,10,...,NaN,0.838,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NA,CH1,CNA,None,2,28,NaN,19,9,...,NaN,0.829,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NA,CL1,CFC,None,8,29,NaN,10,19,...,NaN,0.814,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871,NA,FW1,KEK,None,7,19,NaN,7,12,...,NaN,0.803,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871,NA,NY2,NNA,None,5,33,NaN,16,17,...,NaN,0.839,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2

Now, you're going to write a series of functions to work with this team data. Note that you can write and execute a SQL query using `read_sql` if you want to check that you're getting the correct results. 

Write a function `get_teams` that will take as input a year and which returns the team stats (from the teams table) for the input year.

In [68]:
# Your Code Here
def get_teams(x):
    result = teams[teams.yearid==x]
    print(result)

In [69]:
get_teams(2014)

      yearid lgid teamid franchid divid  rank    g  ghome   w   l  ...     dp  \
2745    2014   NL    ARI      ARI     W     5  162   81.0  64  98  ...  147.0
2746    2014   NL    ATL      ATL     E     2  162   81.0  79  83  ...  143.0
2747    2014   AL    BAL      BAL     E     1  162   81.0  96  66  ...  156.0
2748    2014   AL    BOS      BOS     E     5  162   81.0  71  91  ...  155.0
2749    2014   AL    CHA      CHW     C     4  162   81.0  73  89  ...  170.0
2750    2014   NL    CHN      CHC     C     5  162   81.0  73  89  ...  137.0
2751    2014   NL    CIN      CIN     C     4  162   81.0  76  86  ...  120.0
2752    2014   AL    CLE      CLE     C     3  162   81.0  85  77  ...  139.0
2753    2014   NL    COL      COL     W     4  162   81.0  66  96  ...  166.0
2754    2014   AL    DET      DET     C     1  162   81.0  90  72  ...  153.0
2755    2014   AL    HOU      HOU     W     4  162   81.0  70  92  ...  151.0
2756    2014   AL    KCA      KCR     C     2  162   81.0  89  73  ...  122.0
2757    2014   AL    LAA      ANA     W     1  162   81.0  98  64  ...  127.0
2758    2014   NL    LAN      LAD     W     1  162   81.0  94  68  ...  145.0
2759    2014   NL    MIA      FLA     E     4  162   81.0  77  85  ...  154.0
2760    2014   NL    MIL      MIL     C     3  162   81.0  82  80  ...  130.0
2761    2014   AL    MIN      MIN     C     5  162   81.0  70  92  ...  136.0
2762    2014   AL    NYA      NYY     E     2  162   81.0  84  78  ...  107.0
2763    2014   NL    NYN      NYM     E     3  162   81.0  79  83  ...  158.0
2764    2014   AL    OAK      OAK     W     2  162   81.0  88  74  ...  150.0
2765    2014   NL    PHI      PHI     E     5  162   81.0  73  89  ...  133.0
2766    2014   NL    PIT      PIT     C     2  162   81.0  88  74  ...  148.0
2767    2014   NL    SDN      SDP     W     3  162   81.0  77  85  ...  124.0
2768    2014   AL    SEA      SEA     W     3  162   81.0  87  75  ...  139.0
2769    2014   NL    SFN      SFG     W     2  162   81.0  88  74  ...  155.0
2770    2014   NL    SLN      STL     C     1  162   81.0  90  72  ...  145.0
2771    2014   AL    TBA      TBD     E     4  162   81.0  77  85  ...   96.0
2772    2014   AL    TEX      TEX     W     5  162   81.0  67  95  ...  155.0
2773    2014   AL    TOR      TOR     E     3  162   81.0  83  79  ...  130.0
2774    2014   NL    WAS      WSN     E     1  162   81.0  96  66  ...  139.0

         fp                           name                           park  \
2745  0.983           Arizona Diamondbacks                    Chase Field
2746  0.986                 Atlanta Braves                   Turner Field
2747  0.986              Baltimore Orioles    Oriole Park at Camden Yards
2748  0.985                 Boston Red Sox                 Fenway Park II
2749  0.982              Chicago White Sox            U.S. Cellular Field
2750  0.983                   Chicago Cubs                  Wrigley Field
2751  0.988                Cincinnati Reds       Great American Ball Park
2752  0.981              Cleveland Indians              Progressive Field
2753  0.983               Colorado Rockies                    Coors Field
2754  0.983                 Detroit Tigers                  Comerica Park
2755  0.983                 Houston Astros               Minute Maid Park
2756  0.983             Kansas City Royals               Kauffman Stadium
2757  0.986  Los Angeles Angels of Anaheim       Angel Stadium of Anaheim
2758  0.983            Los Angeles Dodgers                 Dodger Stadium
2759  0.984                  Miami Marlins                   Marlins Park
2760  0.984              Milwaukee Brewers                    Miller Park
2761  0.984                Minnesota Twins                   Target Field
2762  0.984               New York Yankees             Yankee Stadium III
2763  0.983                  New York Mets                     Citi Field
2764  0.982              Oakland Athletics                  O.co Coliseum
2765  0.987          Philadelphia Phillies             Citizens Bank Park
2766  0.983             Pittsburgh Pirates                       PNC Park
2767  0.983               San Diego Padres                     Petco Park
2768  0.986               Seattle Mariners                   Safeco Field
2769  0.984           San Francisco Giants                      AT&T Park
2770  0.985            St. Louis Cardinals              Busch Stadium III
2771  0.985                 Tampa Bay Rays                Tropicana Field
2772  0.982                  Texas Rangers  Rangers Ballpark in Arlington
2773  0.985              Toronto Blue Jays                  Rogers Centre
2774  0.984           Washington Nationals                 Nationals Park

      attendance  bpf  ppf  teamidbr  teamidlahman45  teamidretro
2745   2073730.0  102  102       ARI             ARI          ARI
2746   2354305.0   99   99       ATL             ATL          ATL
2747   2464473.0  100  100       BAL             BAL          BAL
2748   2956089.0  102  101       BOS             BOS          BOS
2749   1650821.0  100  101       CHW             CHA          CHA
2750   2652113.0  103  104       CHC             CHN          CHN
2751   2476664.0   98   98       CIN             CIN          CIN
2752   1437393.0   97   97       CLE             CLE          CLE
2753   2680329.0  115  116       COL             COL          COL
2754   2917209.0  105  104       DET             DET          DET
2755   1751829.0  101  102       HOU             HOU          HOU
2756   1956482.0  105  104       KCR             KCA          KCA
2757   3095935.0   96   95       LAA             ANA          ANA
2758   3782337.0   96   95       LAD             LAN          LAN
2759   1732283.0  103  104       MIA             FLO          MIA
2760   2797384.0  102  103       MIL             ML4          MIL
2761   2250606.0  102  103       MIN             MIN          MIN
2762   3401624.0  100  101       NYY             NYA          NYA
2763   2148808.0   94   95       NYM             NYN          NYN
2764   2003628.0   99   97       OAK             OAK          OAK
2765   2423852.0  100  101       PHI             PHI          PHI
2766   2442564.0   98   97       PIT             PIT          PIT
2767   2195373.0   91   91       SDP             SDN          SDN
2768   2064334.0   95   95       SEA             SEA          SEA
2769   3368697.0   95   95       SFG             SFN          SFN
2770   3540649.0  101  100       STL             SLN          SLN
2771   1446464.0   97   97       TBR             TBA          TBA
2772   2718733.0  101  101       TEX             TEX          TEX
2773   2375525.0  102  102       TOR             TOR          TOR
2774   2579389.0  104  102       WSN             MON          WAS

[30 rows x 48 columns]

Now, write a function `get_best_teams` that will take as input a `year`, a number `n` (which should default to 5) and a parameter `stat` (which should default to wins "w") and which will return the n teams with the largest value for the selected statistic.

Calling `get_best_teams(year = 2014, n = 3)` should return the Los Angeles Angels, the Baltimore Orioles, and the Washington Nationals.

In [30]:
teams.columns

Index(['yearid', 'lgid', 'teamid', 'franchid', 'divid', 'rank', 'g', 'ghome',
       'w', 'l', 'divwin', 'wcwin', 'lgwin', 'wswin', 'r', 'ab', 'h', 'h2b',
       'h3b', 'hr', 'bb', 'so', 'sb', 'cs', 'hbp', 'sf', 'ra', 'er', 'era',
       'cg', 'sho', 'sv', 'ipouts', 'ha', 'hra', 'bba', 'soa', 'e', 'dp', 'fp',
       'name', 'park', 'attendance', 'bpf', 'ppf', 'teamidbr',
       'teamidlahman45', 'teamidretro'],
      dtype='object')

In [66]:
# # Your Code Here
def get_best_teams(year, n=5, stat='w'):
    result = teams[teams.yearid == year].nlargest(n, teams.stat)
    print(result.name.nlargest(n, stat))

In [67]:
get_best_teams(2014, 3)

ValueError: keep must be either "first", "last" or "all"

In [35]:
# Your Code Here
# def get_best_teams(year, n = 5, stat = 'w'):
#     data = get_teams(year)
#     print(data.sort_values(stat).head(n))

In [36]:
get_best_teams(2014)

      yearid lgid teamid franchid divid  rank    g  ghome   w   l  ...     dp  \
2745    2014   NL    ARI      ARI     W     5  162   81.0  64  98  ...  147.0
2746    2014   NL    ATL      ATL     E     2  162   81.0  79  83  ...  143.0
2747    2014   AL    BAL      BAL     E     1  162   81.0  96  66  ...  156.0
2748    2014   AL    BOS      BOS     E     5  162   81.0  71  91  ...  155.0
2749    2014   AL    CHA      CHW     C     4  162   81.0  73  89  ...  170.0
2750    2014   NL    CHN      CHC     C     5  162   81.0  73  89  ...  137.0
2751    2014   NL    CIN      CIN     C     4  162   81.0  76  86  ...  120.0
2752    2014   AL    CLE      CLE     C     3  162   81.0  85  77  ...  139.0
2753    2014   NL    COL      COL     W     4  162   81.0  66  96  ...  166.0
2754    2014   AL    DET      DET     C     1  162   81.0  90  72  ...  153.0
2755    2014   AL    HOU      HOU     W     4  162   81.0  70  92  ...  151.0
2756    2014   AL    KCA      KCR     C     2  162   81.0  89  73  ...  122.0
2757    2014   AL    LAA      ANA     W     1  162   81.0  98  64  ...  127.0
2758    2014   NL    LAN      LAD     W     1  162   81.0  94  68  ...  145.0
2759    2014   NL    MIA      FLA     E     4  162   81.0  77  85  ...  154.0
2760    2014   NL    MIL      MIL     C     3  162   81.0  82  80  ...  130.0
2761    2014   AL    MIN      MIN     C     5  162   81.0  70  92  ...  136.0
2762    2014   AL    NYA      NYY     E     2  162   81.0  84  78  ...  107.0
2763    2014   NL    NYN      NYM     E     3  162   81.0  79  83  ...  158.0
2764    2014   AL    OAK      OAK     W     2  162   81.0  88  74  ...  150.0
2765    2014   NL    PHI      PHI     E     5  162   81.0  73  89  ...  133.0
2766    2014   NL    PIT      PIT     C     2  162   81.0  88  74  ...  148.0
2767    2014   NL    SDN      SDP     W     3  162   81.0  77  85  ...  124.0
2768    2014   AL    SEA      SEA     W     3  162   81.0  87  75  ...  139.0
2769    2014   NL    SFN      SFG     W     2  162   81.0  88  74  ...  155.0
2770    2014   NL    SLN      STL     C     1  162   81.0  90  72  ...  145.0
2771    2014   AL    TBA      TBD     E     4  162   81.0  77  85  ...   96.0
2772    2014   AL    TEX      TEX     W     5  162   81.0  67  95  ...  155.0
2773    2014   AL    TOR      TOR     E     3  162   81.0  83  79  ...  130.0
2774    2014   NL    WAS      WSN     E     1  162   81.0  96  66  ...  139.0

         fp                           name                           park  \
2745  0.983           Arizona Diamondbacks                    Chase Field
2746  0.986                 Atlanta Braves                   Turner Field
2747  0.986              Baltimore Orioles    Oriole Park at Camden Yards
2748  0.985                 Boston Red Sox                 Fenway Park II
2749  0.982              Chicago White Sox            U.S. Cellular Field
2750  0.983                   Chicago Cubs                  Wrigley Field
2751  0.988                Cincinnati Reds       Great American Ball Park
2752  0.981              Cleveland Indians              Progressive Field
2753  0.983               Colorado Rockies                    Coors Field
2754  0.983                 Detroit Tigers                  Comerica Park
2755  0.983                 Houston Astros               Minute Maid Park
2756  0.983             Kansas City Royals               Kauffman Stadium
2757  0.986  Los Angeles Angels of Anaheim       Angel Stadium of Anaheim
2758  0.983            Los Angeles Dodgers                 Dodger Stadium
2759  0.984                  Miami Marlins                   Marlins Park
2760  0.984              Milwaukee Brewers                    Miller Park
2761  0.984                Minnesota Twins                   Target Field
2762  0.984               New York Yankees             Yankee Stadium III
2763  0.983                  New York Mets                     Citi Field
2764  0.982              Oakland Athletics                  O.co Coliseum
2765  0.987          Philadelphia Phillies             Citizens Bank Park
2766  0.983             Pittsburgh Pirates                       PNC Park
2767  0.983               San Diego Padres                     Petco Park
2768  0.986               Seattle Mariners                   Safeco Field
2769  0.984           San Francisco Giants                      AT&T Park
2770  0.985            St. Louis Cardinals              Busch Stadium III
2771  0.985                 Tampa Bay Rays                Tropicana Field
2772  0.982                  Texas Rangers  Rangers Ballpark in Arlington
2773  0.985              Toronto Blue Jays                  Rogers Centre
2774  0.984           Washington Nationals                 Nationals Park

      attendance  bpf  ppf  teamidbr  teamidlahman45  teamidretro
2745   2073730.0  102  102       ARI             ARI          ARI
2746   2354305.0   99   99       ATL             ATL          ATL
2747   2464473.0  100  100       BAL             BAL          BAL
2748   2956089.0  102  101       BOS             BOS          BOS
2749   1650821.0  100  101       CHW             CHA          CHA
2750   2652113.0  103  104       CHC             CHN          CHN
2751   2476664.0   98   98       CIN             CIN          CIN
2752   1437393.0   97   97       CLE             CLE          CLE
2753   2680329.0  115  116       COL             COL          COL
2754   2917209.0  105  104       DET             DET          DET
2755   1751829.0  101  102       HOU             HOU          HOU
2756   1956482.0  105  104       KCR             KCA          KCA
2757   3095935.0   96   95       LAA             ANA          ANA
2758   3782337.0   96   95       LAD             LAN          LAN
2759   1732283.0  103  104       MIA             FLO          MIA
2760   2797384.0  102  103       MIL             ML4          MIL
2761   2250606.0  102  103       MIN             MIN          MIN
2762   3401624.0  100  101       NYY             NYA          NYA
2763   2148808.0   94   95       NYM             NYN          NYN
2764   2003628.0   99   97       OAK             OAK          OAK
2765   2423852.0  100  101       PHI             PHI          PHI
2766   2442564.0   98   97       PIT             PIT          PIT
2767   2195373.0   91   91       SDP             SDN          SDN
2768   2064334.0   95   95       SEA             SEA          SEA
2769   3368697.0   95   95       SFG             SFN          SFN
2770   3540649.0  101  100       STL             SLN          SLN
2771   1446464.0   97   97       TBR             TBA          TBA
2772   2718733.0  101  101       TEX             TEX          TEX
2773   2375525.0  102  102       TOR             TOR          TOR
2774   2579389.0  104  102       WSN             MON          WAS

[30 rows x 48 columns]

AttributeError: 'NoneType' object has no attribute 'sort_values'

In [ ]:
get_best_teams(year = 2014, n = 3)

Now, modify `get_best_teams` by adding a parameter `ascending` so that you can choose to return either the top or the bottom teams in terms of the selected stat.

Calling `get_best_teams(year=2014, n=3, stat="era", ascending=True)` should return the Washington Nationals, the Seattle Mariners, and the Oakland Athletics.

In [ ]:
# Your Code Here

Now, modify `get_best_teams` so that you can choose to return just the best teams from one league or the other (using the `lgid` column), but by default does not filter based on league. Do this by adding a `league` parameter with default value of "both".

Calling `get_best_teams(year=2014, n=3, league="AL", ascending = True)` should return the Texas Rangers, the Houston Astros, and the Minnesota Twins.

In [ ]:
# Your Code Here

Now, make a function `plot_best_teams` which takes the same parameters as `get_best_teams` but which creates a bar chart displaying the best teams for the selected stats.

Make sure that your plot has a title and is labeled.

In [ ]:
# Your Code Here

Add a `filepath` parameter to `plot_best_teams` which defaults to `None`. If a filepath is given, the function should save the resulting plot to the input filepath. **Hint:** You'll need to use the [`savefig` function](https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.savefig.html).

In [ ]:
# Your Code Here

Finally, utilize a for loop to create an image for each year from 2000 through 2010 which shows the top 10 teams in terms of number of wins. These images should be saved into an `images` folder which appropriate filenames.

In [ ]:
# Your Code Here

### Challenge Questions

If you're able to solve the previous questions, you can give these advanced questions a try.

The [Tennessee Department of Health](https://www.tn.gov/health/health-program-areas/statistics/health-data/death-statistics.html) published data on number of deaths by cause broken down by county.

Start with the data contained in `TN Deaths Malignant Neoplasms - 2018.xlsx`.

If you inspect the file, you'll see that the data is divided up into two tables.

First, let's see how we can read in the lefthand table. We can use the `read_excel` function and point it to columns A - G.

In [ ]:
neoplasms = pd.read_excel(
    '../data/TN Deaths Malignant Neoplasms - 2018.xlsx',
    header=4,
    usecols='A:G'
)

In [ ]:
neoplasms

Do the following steps to clean up the resulting dataframe:
* Remove the unneeded rows at the top and bottom
* Give the columns descriptive names
* Ensure that the numeric columns are numeric (and have NaNs where there were either *'s or -'s). **Hint:** You could use the pandas `to_numeric` function for this.

Once you have these steps figured out, create a function named `get_deaths_data` that takes as input a `filepath` and string of `usecols` and returns the resulting cleaned up dataframe.

In [ ]:
# Your Code Here

Now, apply your function to both tables contained in the `TN Deaths Malignant Neoplasms - 2018.xlsx` sheet and concatenate the results together to get a single resulting dataframe.

In [ ]:
# Your Code Here

We can get a list of all of the filenames contained in the data folder using the `glob` library:

In [ ]:
import glob
filenames = glob.glob('../data/*.xlsx')

filenames

Your final task is to create a dataframe which has one row per county and one column per cause of death. This column should have the total number of deaths for that cause.

In [ ]:
# Your Code Here